.floorplan {
  position: relative;
  height: 465px;
  width: 1000px;
  background-image: url('layout.png');
  background-size: contain;
  margin: 0 auto;
  font-family: arial;
  font-size: 14px;
}

#westbay {
  position: absolute;
  top: 25px;
  left: 23px;
}

#winery {
  position: absolute;
  top: 25px;
  left: 291px;
}

#mcgettigan {
  position: absolute;
  top: 25px;
  left: 418px;
}

#laylin {
  position: absolute;
  top: 235px;
  left: 23px;
}

#bluehole {
  position: absolute;
  top: 235px;
  left: 291px;
}

#bagthemoon {
  position: absolute;
  top: 235px;
  left: 418px;
}

#treehouse {
  position: absolute;
  top: 185px;
  left: 630px;
}

#authorize {
  display: none;
}

.floorplan .name {
  font-weight: bold;
}

.free {
  color: green;
}

.occupied {
  color: red;
}
