.floorplan {
  position: relative;
  height: 465px;
  width: 1000px;
  background-image: url('layout.png');
  background-size: contain;
  margin: 0 auto;
  font-family: arial;
  font-size: 14px;
}

.room {
  position: absolute;
  padding: 0 10px;
  height: 208px;
}

.room.big {
  width: 239px;
}

.room.small {
  width: 101px;
}

.room.top {
  top: 16px;
}

.room.bottom {
  top: 230px;
}

.room.left {
  left: 17px;
}

.room.center {
  left: 282px;
}

.room.right {
  left: 408px;
}

#treehouse {
  top: 178px;
  left: 621px;
  width: 344px;
  height: 259px;
}

#authorize {
  display: none;
}

.floorplan .name {
  font-weight: bold;
}

.free {
  background-color: rgba(100, 200, 100, .5);
}

.occupied {
  background-color: rgba(200, 100, 100, .5);
}
